<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/a.css">
</head>
<body>
  <div class="main">
    <div class="doctor" id="doctor">
      <img src="images/Doctor.png" alt="Doctor_img">
      <a href="">Are u Doctor</a>
    </div>
    <div class="student" id="student">
      <img src="images/student.png" alt="Student_img">
      <a href="">Are u Student</a>
    </div>
  </div>
<script>
document.getElementById('doctor').addEventListener('click',function(){
  window.location.href='doctor/login'
})
document.getElementById('student').addEventListener('click',function(){
  window.location.href='student/login'
})
</script>
</body>
</html> 