<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/signup.css">
</head>

<body>

    <div class="container">
        <form>
            <p>REGISTER</p>
            <input type="email" name="" placeholder="Username" id="" style="margin-bottom: 2rem;"><br>
            <div class="password">
                <input type="password" name="" placeholder="Password" id="password1"><br>
                <img src="images/lock.png" alt="" class="lockimage" id="lockimage">
            </div>
            <div class="password">
                <input type="password" name="" placeholder="Confirm password" id="password2"><br>
                <img src="images/lock.png" alt="" class="lockimage" id="lockimage1">
            </div>
            
            <input type="button" value="SIGN UP"><br>
            <div class="new1">
                <a href="#" id="su" ></a>
            <a href="#" id="fp"></a>
            </div>
           
        </form>
    </div>
<script>
    var passwordInput = document.getElementById("password1");
    var togglePassword = document.getElementById("lockimage");
    togglePassword.addEventListener("click", function() {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePassword.src = "/images/eyeopen.png"; 
        } else {
            passwordInput.type = "password";
            togglePassword.src = "/images/lock.png";
        }
    });
    var passwordInput1 = document.getElementById("password2");
    var togglePassword1 = document.getElementById("lockimage1");
    togglePassword1.addEventListener("click", function() {
        if (passwordInput1.type === "password") {
            passwordInput1.type = "text";
            togglePassword1.src = "images/eyeopen.png"; 
        } else {
            passwordInput1.type = "password";
            togglePassword1.src = "images/lock.png";
        }
    });
    
</script>
</body>

</html>